.datePicker{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 15rem; */
    /* width: 50em; */
}

/* .react-datepicker__month-container{
    width: 50em;
} */

.datePicker .react-datepicker{
    border-radius: 5px;
}

.datePicker {
    max-width: 50px; /* Adjust the width as desired */
    font-size: 1rem; /* Adjust font size if needed */
    
  }
  
.react-datepicker__month-container {
    width: 100%;
    background-color: #29150C;
    
    border-radius: 5px;
  }
  
  .datePicker .react-datepicker__day-name{
    margin-top: 1rem;
    
  }

  .datePicker .react-datepicker__day,
  .datePicker .react-datepicker__day-name {
    width: 2.5rem; /* Adjust day cell width */
    height: 2.5rem; /* Adjust day cell height */
   
    font-size: 0.85rem; /* Adjust font size */

    color: #ffffff;
    
  }

  .datePicker .react-datepicker__header{
    border-radius: 5px;
  }

  .datePicker .react-datepicker__header,
  .datePicker .react-datepicker__current-month {
    background-color: #29150C;
    color: #ffffff;
    border-radius: ;
  }
