/* .test {
    background-image: url('../../assets/images/hotellNordlysWide.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.image {
    background-size: ;
} */
/* .textContainer {
    position: absolute;
    top: 100px;
    left: 100px;
} */