.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    /* margin-top: 5rem; */
}

.hotelTitle {
    text-decoration: none;
}

.navList {
    list-style: none;
    
    display: flex;
    flex-direction: row;
    gap: 4rem;
    
    
}

.hotelTitle, .navList{
    margin-top: 5rem;
}

.navList a, .hotelTitle a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 2rem;
    
}